.sidebar {
  float: left;
  width: 15%;
  background-color: gray;
  opacity: 0.9;
  height: 70vh;
}
.sidebar .side-bar-items {
  padding: 0;
}
.sidebar .item {
  list-style-type: none;
}

.sidebar .item a {
  padding-left: 30px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  width: 100%;
  display: block;
}

.sidebar .item:hover {
  background-color: #111111;
}
