.header {
  background-color: #333333;
  padding: 0 30px;
  overflow: hidden;
  width: 100%;
}
.header .logo {
  float: left;
  width: 15%;
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding-top: 8px;
}
.header .logo a {
  text-decoration: none;
  color: white;
}
.header-items {
  float: left;
  display: block;
  width: 40%;
  list-style-type: none;
  margin: 0;
  padding: 0 100px;
  overflow: hidden;
}
.header-items .item {
  float: left;
}
.header-items .selected,
.header-items a:hover {
  background-color: #111111;
}
.header-items a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
